*,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin-top: 83px;
}
@media (min-width: 768px) {
  body {
    margin-top: 104px;
  }
}

:root {
  --light: #ffffff;
  --dark: #000000;
  --primary: #002581;
  --secondary: #212438;
  --font-mulish: "Mulish", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --bg-color: #f8f8f8;
  --font-semibold: 600;
  --font-medium: 500;
  --border-color: #e4e4e4;
}

img,
video {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  padding: 0 20px;
}
@media (min-width: 1600px) {
  .container {
    max-width: 1368px;
  }
}

.btn {
  font-family: var(--font-mulish);
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btn-outline-dark {
  --bs-btn-padding-x: 30px;
  --bs-btn-color: var(--dark);
  --bs-btn-border-color: var(--dark);
  --bs-border-radius: 30px;
  --bs-btn-padding-y: 8px;
  font-weight: var(--font-semibold);
  --bs-btn-hover-bg: var(--primary);
  --bs-btn-hover-border-color: var(--primary);
  --bs-btn-active-bg: var(--primary);
  --bs-btn-active-border-color: var(--primary);
}

p {
  font-size: 14px;
}
@media (min-width: 992px) {
  p {
    font-size: 18px;
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
.h1 {
  font-size: 18px;
  font-family: var(--font-mulish);
  font-weight: 700;
}
@media (min-width: 1200px) {
  h1,
  .h1 {
    font-size: 28px;
  }
}
@media (min-width: 1200px) {
  h1,
  .h1 {
    font-size: 30px;
  }
}

h2,
.h2 {
  font-size: 18px;
  font-family: var(--font-mulish);
}
@media (min-width: 992px) {
  h2,
  .h2 {
    font-size: 24px;
  }
}

.h3,
h3 {
  font-size: 16px;
  font-weight: var(--font-medium);
  font-family: var(--font-poppins);
  margin-bottom: 6px;
}

.header {
  position: fixed;
  width: 100vw;
  margin: 0 auto;
  left: 0;
  top: 0;
  z-index: 1049;
  padding: 30px 0;
  -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.04);
  background-color: var(--light);
}
.header-wrap {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-column-gap: 77px;
     -moz-column-gap: 77px;
          column-gap: 77px;
}
@media (min-width: 768px) {
  .header-wrap {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.header-right .mob-btn {
  padding: 5px;
  cursor: pointer;
}
.header-right .mob-btn span {
  width: 24px;
  height: 1px;
  background-color: var(--dark);
  display: block;
}
.header-right .mob-btn span + span {
  width: 20px;
}
.header-right .mob-btn span + span + span {
  width: 16px;
}
.header-right .mob-btn span ~ span {
  margin-top: 5px;
}
.header .logo {
  width: 100%;
  max-width: 149px;
}
@media (min-width: 768px) {
  .header .logo {
    max-width: 239px;
  }
}
.header .logo figure {
  position: relative;
  padding-top: 7.5313807531%;
  width: 100%;
}
.header .logo figure img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.header .offcanvas {
  --bs-offcanvas-padding-x: 20px;
  --bs-offcanvas-padding-y: 50px;
  font-family: var(--font-mulish);
  font-weight: var(--font-semibold);
  height: 100vh;
  border: none;
}
@media (max-width: 767.98px) {
  .header .offcanvas {
    --bs-offcanvas-width:100%;
  }
}
@media (min-width: 768px) {
  .header .offcanvas {
    --bs-offcanvas-padding-x: 70px;
    --bs-offcanvas-padding-y: 60px;
  }
}
@media (max-width: 767.98px) {
  .header .offcanvas-header .h2 {
    font-weight: 700;
  }
}
.header .offcanvas .btn-close {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
  --bs-btn-close-opacity: 1;
  padding: 12px;
  margin: 0;
}
.header .offcanvas-header-wrap {
  border-bottom: 1px solid #e4e4e4;
}
.header .offcanvas-header {
  padding: 56px var(--bs-offcanvas-padding-x) 36px var(--bs-offcanvas-padding-x);
}
.header .offcanvas-body {
  padding: 0 var(--bs-offcanvas-padding-x) var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .offcanvas-body .contact-wrap {
  border-top: 1px solid var(--border-color);
  padding-top: 50px;
  padding-left: 0;
  margin-bottom: 0;
}
@media (min-width: 992px) {
  .header .offcanvas-body .contact-wrap {
    padding-top: 47px;
  }
}
.header .offcanvas-body .contact-wrap li {
  padding-bottom: 50px;
}
@media (min-width: 992px) {
  .header .offcanvas-body .contact-wrap li {
    padding-bottom: 60px;
  }
}
.header .offcanvas-body .contact-wrap li:last-child {
  padding-bottom: 0;
}
.header .offcanvas-body .contact-wrap li p {
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .header .offcanvas-body .contact-wrap li p {
    margin-bottom: 12px;
  }
}
.header .offcanvas-body .contact-wrap li a {
  color: var(--dark);
  font-size: 16px;
  font-weight: var(--font-semibold);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
@media (min-width: 992px) {
  .header .offcanvas-body .contact-wrap li a {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .header .offcanvas-body .contact-wrap li a:hover {
    color: var(--primary);
  }
}
.header .offcanvas-footer {
  border-top: 1px solid var(--border-color);
  padding-top: 40px;
}
.header .offcanvas-footer p {
  margin-bottom: 20px;
  font-weight: var(--font-semibold);
  font-size: 14px;
}
@media (min-width: 768px) {
  .header .offcanvas-footer p {
    font-size: 18px;
    margin-bottom: 26px;
  }
}
.header .offcanvas-footer ul {
  gap: 35px;
  padding-left: 0;
  margin-bottom: 0;
}
.header .offcanvas-footer ul li {
  padding-bottom: 0;
}
.header .offcanvas-footer ul li a {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--secondary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--light);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header .offcanvas-footer ul li a span {
  font-size: 17px;
}
@media (min-width: 1200px) {
  .header .offcanvas-footer ul li a:hover {
    background-color: var(--primary);
  }
}

.main {
  background-color: var(--bg-color);
  padding: 30px 0 60px 0;
}
@media (min-width: 768px) {
  .main {
    padding: 60px 0 80px 0;
  }
}
.main .main-ttl {
  text-align: center;
  margin-bottom: 6px;
}
@media (min-width: 576px) {
  .main .main-ttl {
    margin-bottom: 15px;
  }
}
.main .content-wrap {
  text-align: center;
  max-width: 625px;
  margin: 0 auto;
  font-family: var(--font-mulish);
}
.main .content-wrap p {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.14px;
}
@media (min-width: 768px) {
  .main .content-wrap p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.16px;
  }
}
.main .card-section {
  padding-top: 30px;
  font-family: var(--font-poppins);
}
@media (min-width: 992px) {
  .main .card-section {
    padding-top: 70px;
  }
}
.main .card-section-wrap {
  row-gap: 20px;
}
.main .card-item {
  padding: 27px 22px;
  background-color: var(--light);
  border-radius: 8px;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 0.3s cubic-bezier(0.43, 0.08, 0.41, 0.78);
  transition: all 0.3s cubic-bezier(0.43, 0.08, 0.41, 0.78);
  height: 100%;
  cursor: pointer;
}
@media (min-width: 992px) {
  .main .card-item {
    padding: 36px 25px;
  }
}
@media (min-width: 1200px) {
  .main .card-item:hover .card-item-arrow {
    opacity: 1;
  }
}
.main .card-item .innerwrap {
  -webkit-column-gap: 27px;
     -moz-column-gap: 27px;
          column-gap: 27px;
}
.main .card-item .innerwrap p {
  font-size: 14px;
  color: #4d4d4d;
  margin-bottom: 0;
}
.main .card-item_title {
  width: 100%;
}
.main .card-item_img {
  width: 100%;
  max-width: 45px;
}
@media (min-width: 1200px) {
  .main .card-item.food-card:hover {
    border-bottom: 2px solid #03c07b;
  }
}
.main .card-item.food-card .card-item_img {
  max-width: 36px;
}
@media (min-width: 1200px) {
  .main .card-item.hr-portal:hover {
    border-bottom: 2px solid #4061a1;
  }
}
.main .card-item.hr-portal .card-item_img {
  max-width: 50px;
}
@media (min-width: 1200px) {
  .main .card-item.crm:hover {
    border-bottom: 2px solid #006eb9;
  }
}
.main .card-item.crm .card-item_img {
  max-width: 40px;
}
@media (min-width: 1200px) {
  .main .card-item.orim:hover {
    border-bottom: 2px solid #135325;
  }
}
.main .card-item.orim .card-item_img {
  max-width: 40px;
}
@media (min-width: 1200px) {
  .main .card-item.expense:hover {
    border-bottom: 2px solid #e73b3e;
  }
}
.main .card-item.expense .card-item_img {
  max-width: 50px;
}
@media (min-width: 1200px) {
  .main .card-item.application:hover {
    border-bottom: 2px solid #1b3853;
  }
}
.main .card-item.application .card-item_img {
  max-width: 44px;
}
@media (min-width: 1200px) {
  .main .card-item.work-drive:hover {
    border-bottom: 2px solid #39bcbc;
  }
}
.main .card-item.work-drive .card-item_img {
  max-width: 40px;
}
@media (min-width: 1200px) {
  .main .card-item.meeting:hover {
    border-bottom: 2px solid #e32728;
  }
}
.main .card-item.meeting .card-item_img {
  max-width: 44px;
}
@media (min-width: 1200px) {
  .main .card-item.onedrive:hover {
    border-bottom: 2px solid #29a8eb;
  }
}
.main .card-item.onedrive .card-item_img {
  max-width: 40px;
}
@media (min-width: 1200px) {
  .main .card-item.outlook:hover {
    border-bottom: 2px solid #0020c9;
  }
}
.main .card-item.outlook .card-item_img {
  max-width: 40px;
}
@media (min-width: 1200px) {
  .main .card-item.sharepoint:hover {
    border-bottom: 2px solid #37c6d0;
  }
}
.main .card-item.sharepoint .card-item_img {
  max-width: 42px;
}
@media (min-width: 1200px) {
  .main .card-item.helpdesk:hover {
    border-bottom: 2px solid #96a637;
  }
}
.main .card-item.helpdesk .card-item_img {
  max-width: 50px;
}
@media (min-width: 1200px) {
  .main .card-item.website:hover {
    border-bottom: 2px solid #002581;
  }
}
.main .card-item.website .card-item_img {
  max-width: 50px;
}
@media (min-width: 1200px) {
  .main .card-item.technical:hover {
    border-bottom: 2px solid #0c68ca;
  }
}
.main .card-item.technical .card-item_img {
  max-width: 50px;
}
@media (min-width: 1200px) {
  .main .card-item.linkedin:hover {
    border-bottom: 2px solid #0077b5;
  }
}
.main .card-item.linkedin .card-item_img {
  max-width: 44px;
}
.main .card-item-arrow {
  opacity: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.43, 0.08, 0.41, 0.78);
  transition: all 0.3s cubic-bezier(0.43, 0.08, 0.41, 0.78);
}

.footer {
  font-family: var(--font-mulish);
  background-color: var(--secondary);
  padding: 50px 0 40px 0;
  color: var(--light);
  overflow-x: hidden;
}
@media (min-width: 992px) {
  .footer {
    padding: 80px 0;
  }
}
.footer .white-logo {
  max-width: 105px;
  width: 100%;
}
@media (min-width: 992px) {
  .footer .white-logo {
    max-width: 205px;
  }
}
.footer .white-logo figure {
  padding-top: 7.8048780488%;
  width: 100%;
  position: relative;
  margin-bottom: 18px;
}
@media (min-width: 992px) {
  .footer .white-logo figure {
    margin-bottom: 26px;
  }
}
.footer .white-logo figure img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.footer .footer-wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  row-gap: 40px;
}
@media (min-width: 1200px) {
  .footer .footer-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer .footer-wrap .address-details {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  opacity: 0.9;
}
@media (min-width: 1200px) {
  .footer .footer-wrap .address-details {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 23%;
            flex: 0 0 23%;
  }
}
.footer .footer-wrap .address-details p {
  margin-bottom: 0;
  line-height: 28px;
  font-size: 14px;
  font-weight: var(--font-medium);
}
@media (min-width: 1200px) {
  .footer .footer-wrap .address-details p {
    font-size: 16px;
    line-height: 26px;
  }
}
.footer .footer-wrap .contact-details {
  row-gap: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #515463;
}
@media (min-width: 1200px) {
  .footer .footer-wrap .contact-details {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    border-bottom: none;
    padding-bottom: 0;
  }
}
@media (min-width: 1400px) {
  .footer .footer-wrap .contact-details {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
  }
}
.footer .footer-wrap .contact-details .contact-num {
  position: relative;
}
.footer .footer-wrap .contact-details .contact-num p {
  margin-bottom: 6px;
  font-size: 14px;
  color: #e8e8e8;
}
@media (min-width: 1200px) {
  .footer .footer-wrap .contact-details .contact-num p {
    font-size: 24px;
    color: var(--light);
    margin-bottom: 14px;
    opacity: 0.9;
  }
}
.footer .footer-wrap .contact-details .contact-num a {
  color: var(--light);
  font-size: 16px;
  font-family: var(--font-mulish);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 992px) {
  .footer .footer-wrap .contact-details .contact-num a {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .footer .footer-wrap .contact-details .contact-num a:hover {
    opacity: 0.6;
  }
}
.footer .footer-wrap .contact-details .contact-num::after {
  position: absolute;
  content: "";
  height: 69px;
  width: 1px;
  background-color: var(--light);
  opacity: 0.9;
  left: 0%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: none;
}
@media (min-width: 1200px) {
  .footer .footer-wrap .contact-details .contact-num::after {
    display: block;
  }
}
.footer .footer-wrap .contact-details .item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
@media (min-width: 1200px) {
  .footer .footer-wrap .contact-details .item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 22%;
            flex: 0 0 22%;
  }
}
.footer .footer-wrap .contact-details .item:first-child .contact-num {
  padding-left: 0;
  margin-left: 0;
}
.footer .footer-wrap .contact-details .item:first-child .contact-num::after {
  display: none;
}
@media (min-width: 1200px) {
  .footer .footer-wrap .contact-details .item .contact-num {
    padding-left: 40px;
    margin-left: 40px;
  }
}
.footer .social-wrap {
  padding-top: 24px;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
@media (min-width: 1200px) {
  .footer .social-wrap {
    padding-top: 47px;
  }
}
.footer .social-wrap a {
  font-size: 17px;
  color: var(--light);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 1200px) {
  .footer .social-wrap a:hover {
    opacity: 0.6;
  }
}
.footer .contact-info {
  padding-bottom: 18px;
  border-bottom: 1px solid #515463;
  margin-bottom: 18px;
}
.footer .contact-info p {
  font-size: 16px;
}
@media (max-width: 1199.98px) {
  .footer .orderchange {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}